<a id="enclosure-light-indicator" class="pull-right" title="Toggle Light" href="#" data-bind="click: function() { loginState.isUser() && $root.toggleLight(); }">
    <i class="icon-lightbulb"></i>
</a>
<a id="enclosure-power-indicator" class="pull-right" title="Toggle Power" href="#" data-bind="click: function() { loginState.isUser() && $root.togglePower(); }">
    <i class="icon-bolt"></i>
</a>
